# Required to allow Next.js to process images
IMAGE_DOMAINS=lh3.googleusercontent.com,firebasestorage.googleapis.com,localhost

# Set to true for helpers
NEXT_PUBLIC_3JS_DEBUG=

# API details
API_URL=
API_KEY=

# Currency for application - needs to match the api env file and the CMS currency field.
CURRENCY=

# Firebase
NEXT_PUBLIC_FIREBASE_CONFIG={"apiKey":"","authDomain":"","projectId":"","storageBucket":"","messagingSenderId":"","appId":"","measurementId":""}
FIREBASE_SERVICE_ACCOUNT={"projectId":"","clientEmail":"","privateKey":""}

# Enables or disables the wire payment functionality
NEXT_PUBLIC_WIRE_PAYMENT_ENABLED=false

# Enables or disables the crypto payment functionality
NEXT_PUBLIC_CRYPTO_PAYMENT_ENABLED=false
