.root h1 {
  @apply border-b border-gray-200 pb-10;
}

.root input {
  @apply mb-0 !important;
}

.paymentDetails {
  @apply mb-5;
}

.paymentDetails tr {
  @apply border-t border-b border-gray-200;
}

.paymentGrid {
  @apply w-full;
}

.paymentGrid tr {
  @apply grid grid-cols-2 py-5;
}

.paymentGrid tr th {
  @apply font-medium text-left;
}

.paymentGrid tr td {
  @apply font-bold text-right;
}

.continueButton {
  @apply mt-6;
}

.bankInstructionsNotice {
  @apply flex px-5 py-5 mb-8 text-left rounded bg-base-gray-notice text-base-textTertiary;
}

.noticeIconWrapper {
  @apply mr-5;
}

.noticeIcon {
  @apply w-8 text-yellow-600;
}
