.root {
  /* Base */
  @apply sticky top-0 z-20 w-full bg-base-bgCard shadow-medium;
  /* Tablet + */
  @apply md:bg-transparent md:relative md:shadow-none;
}

.rootMobileVisible {
  @apply h-screen;
}

.wrapper {
  /* Base */
  @apply flex flex-row items-center bg-white flex-nowrap border-y-1 border-base-border;
  /* Tablet + */
  @apply md:justify-center;
}

.hamburgerWrapper {
  /* Base */
  @apply absolute left-0 flex items-center h-full;
  /* Tablet */
  @apply md:hidden;
}

.hamburger {
  /* Base */
  @apply text-base-textSecondary;
  width: 24px;
}

.hamburgerMenuOpen {
  @apply font-black;
  width: 24px;
}

.utilityWrapper {
  /* Base */
  @apply w-full p-4 bg-white;
}

.utility {
  @apply relative flex m-auto max-w-wrapper;
}

.logo {
  @apply flex items-center justify-center flex-1;
}

.logoLink {
  /* Base */
  @apply inline-block w-8 h-8;
  /* Tablet + */
  @apply md:w-10 md:h-10;
}

.mainNav {
  /* Base */
  @apply absolute left-0 flex flex-col w-full px-12 py-6 overflow-y-auto bg-base-bgCard border-base-bg border-t-1;
  top: 73px;
  height: calc(100% - 73px);
  /* Tablet + */
  @apply md:bg-base-bgCard md:border-0 md:col-span-2 md:grid-flow-col md:h-auto md:justify-center md:overflow-hidden md:p-0 md:relative md:text-center md:top-0 md:w-auto md:gap-9;
}

.mainNavItems {
  /* Base */
  @apply grid flex-1 pt-16 auto-rows-min gap-7;
  /* Tablet + */
  @apply md:grid-flow-col md:pt-0;
}

.mobileNavBottom {
  @apply grid grid-flow-row gap-7 py-7;
  /* Tablet + */
  @apply md:hidden;
}

.mobileNavBottom a {
  @apply border-b-1 pb-7;
}

.mobileNavBottom a:last-child {
  @apply border-b-0;
}

.mainNavHidden {
  /* Base */
  @apply hidden;
  /* Tablet + */
  @apply md:flex;
}

.mainNavLink {
  /* Base */
  @apply pb-5 text-xl transition duration-300 font-display border-b-1 focus:outline-none text-base-textPrimary hover:text-base-gray-dark;
  /* Tablet + */
  @apply md:uppercase md:no-underline md:border-b-0 md:text-base md:hover:text-base-textPrimary md:py-5;
}

.mainNavLink:first-child {
  /* Base */
  @apply hidden;
  /* Tablet + */
  @apply md:block;
}

.mainNavLink:last-child {
  @apply border-b-0;
}

.mainNavLink.mainNavLinkActive {
  /* Base */
  @apply text-action-secondary;
  /* Tablet + */
  @apply md:text-action-primary;
}

.utilityNav {
  @apply absolute right-0 grid items-center grid-flow-col gap-4;
}

.utilityNavLink {
  /* Base */
  @apply grid items-center grid-flow-col gap-2 text-sm no-underline;
  /* Tablet + */
}

.utilityNavLabel {
  /* Base */
  @apply hidden;
  /* Tablet + */
  @apply md:block;
}

.utilityNavLink img {
  @apply block transition duration-300 rounded-full outline-none bg-base-bgCard text-base-textPrimary focus:ring-2 focus:ring-action-secondary focus:ring-offset-2 focus:ring-opacity-50 hover:bg-action-secondary hover:bg-opacity-50;
  height: 36px;
  width: 36px;
}

.createAccountButton {
  /* Base */
  @apply hidden px-3 py-2;
  /* Tablet */
  @apply md:inline;
}

.avatarGeneric {
  @apply w-full p-2;
}
