.root {
  /* Base */
  @apply fixed top-0 z-20 w-full bg-blue-1000 shadow-medium;
  /* Tablet + */
  @apply md:bg-transparent md:pt-4 md:relative md:shadow-none;
}

.rootMobileVisible {
  /* Base */
  @apply h-full;
  /* Tablet + */
  @apply md:h-auto;
}

.wrapper {
  /* Base */
  @apply flex flex-row items-center justify-between p-4 mx-auto flex-nowrap max-w-wrapper;
}

.hamburgerWrapper {
  /* Tablet */
  @apply md:hidden;
  width: 36px;
}

.hamburger {
  /* Base */
  @apply block text-base-gray-medium;
  width: 24px;
}

.logo {
  /* Base */
  @apply flex flex-row items-center self-center justify-center flex-1 w-32 h-8;
  /* Tablet + */
  @apply w-32 h-10 md:text-left md:flex-none md:justify-start;
}

.logoLink {
  /* Base */
  @apply inline-block w-32 h-8;
  /* Tablet + */
  @apply md:w-32 md:h-8;
}

.mainNav {
  /* Base */
  @apply absolute left-0 w-full h-full px-10 pt-6;
  top: 68px;
  /* Tablet + */
  @apply md:col-span-2 md:grid md:grid-cols-2 md:h-auto md:justify-center md:overflow-hidden md:p-0 md:relative md:text-center md:top-0 md:w-auto;
}

.mainNavHidden {
  /* Base */
  @apply hidden;
  /* Tablet + */
  @apply md:grid;
}

.mainNavLink {
  /* Base */
  @apply block py-3 text-3xl font-bold transition duration-300 focus:outline-none text-base-gray-text hover:text-base-gray-dark;
  /* Tablet + */
  @apply md:inline md:no-underline md:p-2 md:text-base md:hover:text-base-gray-text;
}

.mainNavLink:hover {
  @apply text-blue-600;
}

.mainNavLink.mainNavLinkActive {
  /* Base */
  @apply text-blue-600;
}

.utilityNav {
  @apply self-center justify-self-end;
  @apply md:flex md:flex-1 md:justify-end;
}

.utilityNavLink {
  /* Base */
  @apply block overflow-hidden transition duration-300 bg-white rounded-full outline-none text-base-gray-text focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-opacity-50 hover:bg-blue-600 hover:bg-opacity-50;
  /* Tablet + */
  @apply md:shadow-medium;
  height: 36px;
  width: 36px;
}

.utilityNavLink img {
  @apply object-cover;
}

.avatarGeneric {
  @apply w-full p-2;
}

/* To keep nav centered, set logo and utility nav link to be same width */
@screen md {
  .logo {
    width: 106px;
  }
  .utilityNav {
    max-width: 106px;
  }
}
