{
  "BASE_URL": "http://localhost:3000",
  "FIREBASE_SERVICE_ACCOUNT": {
    "projectId": "",
    "clientEmail": "",
    "privateKey": ""
  },
  "FIREBASE_OPTIONS": {
    "apiKey": "",
    "appId": "",
    "authDomain": "",
    "measurementId": "",
    "messagingSenderId": "",
    "projectId": "",
    "storageBucket": ""
  },
  "API_URL": "http://localhost:3001",
  "TEST_PACK_SLUG": "e2e-pack",
  "TEST_NFT_SLUG": "e2easset",
  "BETA_ACCESS_CODE": "",
  "EMAIL": "",
  "PASSWORD": "",
  "USERNAME": "",
  "BETA_ACCESS_CODE": "AlgoFan2022"
}
