.root {
  @apply block px-10 py-5 text-lg font-bold text-white border-none rounded-full opacity-100 bg-action-secondary;
  transition: box-shadow 300ms ease-in-out 0ms, opacity 500ms ease-in-out 500ms;
  width: 300px;
}
.root:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.root.invisible {
  opacity: 0;
}
