@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loaderContainer {
  @apply relative overflow-hidden bg-transparent border rounded-full border-action-primary;
  height: 8px;
  width: 300px;
}

.loaderProgress {
  @apply absolute left-0 h-full bg-action-primary;
  width: 0;
}

.loaderContainer.invisible {
  animation: fadeOut 1s normal forwards ease-in-out;
}
