.featured {
  /* Base */
  @apply flex flex-col shadow-lg bg-base-bgCard;
}

@screen md {
  .featured {
    margin-top: 0;
  }
}

.featuredNotice {
  @apply p-4 text-sm font-bold tracking-wide text-center uppercase text-action-secondaryContrastText bg-action-secondary;
}

.featuredNotice span {
  @apply lowercase;
}

.featuredColumns {
  /* Tablet */
  @apply sm:flex sm:flex-row;
}

.featuredImage {
  /* Tablet */
  @apply sm:w-1/2;
  /* Desktop */
  @apply md:w-3/5;
}

.featuredContent {
  /* Base */
  @apply flex flex-col w-full h-full gap-4 p-5 text-center;
  /* Tablet */
  @apply sm:flex-1 sm:text-left;
  /* Desktop */
  @apply md:p-8;
}

.featuredHeading {
  @apply text-2xl;
}

.featuredBody {
  /* Base */
  @apply flex-1 overflow-hidden text-base-textPrimary line-clamp-6;
  -webkit-line-clamp: 13;
}
.featuredBody p {
  @apply mb-3;
}

.featuredAvailability {
  /* Base */
  @apply mt-4 text-base-gray-medium;
}

.featuredAvailableNumber {
  /* Base */
  @apply font-bold text-base-textPrimary;
}

.featuredControls {
  @apply pt-6;
}

/* Auction metadata */
.columns {
  @apply grid grid-cols-3 border-t border-base-border;
}

.column {
  @apply p-3 text-center border-r border-base-border;
}

.column:first-child {
  @apply border-l;
}

.metadataLabel {
  @apply text-xs capitalize text-base-textPrimary;
}

.metadataValue {
  @apply text-base font-bold;
}

.completeSuccess {
  @apply text-base-price;
}

.featuredPrice {
  /* Base */
  @apply mt-4 font-bold text-center text-base-textPrimary;
}
