.featured {
  /* Base */
  @apply flex flex-col bg-white shadow-lg;
}

@screen md {
  .featured {
    margin-top: 0;
  }
}

.featuredNotice {
  @apply p-4 text-sm font-bold text-center text-white uppercase bg-base-teal;
}

.featuredNotice span {
  @apply lowercase;
}

.featuredColumns {
  /* Tablet */
  @apply sm:flex sm:flex-row;
}

.featuredImage {
  /* Tablet */
  @apply sm:w-1/2;
  /* Desktop */
  @apply md:w-3/5;
}

.featuredContent {
  /* Base */
  @apply flex flex-col float-left w-full gap-4 p-5 text-center;
  /* Tablet */
  @apply sm:flex-1 sm:text-left;
  /* Desktop */
  @apply md:p-8;
}

.featuredHeading {
  @apply text-2xl;
}

.featuredBody {
  /* Base */
  @apply text-base-gray-text;
}

.featuredAvailability {
  /* Base */
  @apply mt-4 text-base-gray-medium;
}

.featuredAvailableNumber {
  /* Base */
  @apply font-bold text-base-gray-dark;
}

.featuredControls {
  @apply pt-8;
}

/* Auction metadata */
.columns {
  @apply grid grid-cols-3 border-t border-base-gray-border;
}

.column {
  @apply p-3 text-center border-r border-base-gray-border;
}

.column:first-child {
  @apply border-l;
}

.metadataLabel {
  @apply text-xs capitalize text-base-gray-text;
}

.metadataValue {
  @apply text-base font-bold;
}

.completeSuccess {
  @apply text-green-600;
}

.featuredPrice {
  /* Base */
  @apply mt-4 font-bold text-center text-base-gray-dark;
}
