.root {
  @apply absolute top-0 w-full h-full p-5 overflow-hidden text-center bg-cover bg-pack-texture;
  background-size: 200%;
}

.root.hideContent {
  @apply flex items-center justify-center;
}

.backgroundPosition-0 {
  background-position: center center;
}
.backgroundPosition-1 {
  background-position: top left;
}
.backgroundPosition-2 {
  background-position: bottom right;
}
.backgroundPosition-3 {
  background-position: bottom left;
}
.backgroundPosition-4 {
  background-position: top center;
}
.backgroundPosition-5 {
  background-position: bottom left;
}

.questionMark {
  /* Base + */
  @apply h-40 pb-5 font-bold text-white;
  font-size: 120px;
  /* Tablet + */
  @apply md:h-60;
}

.packName {
  @apply p-3 mb-1 text-sm font-bold bg-white rounded-sm;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  mix-blend-mode: screen;
}

.infoWrapper {
  @apply flex items-center justify-between text-xs font-bold;
}

.infoWrapperColumn {
  @apply w-1/2 py-2 bg-white rounded-sm;
  mix-blend-mode: screen;
}

.infoWrapperLeft {
  @apply mr-1;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.infoWrapperRight {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  mix-blend-mode: screen;
}
