.toggleButton {
  @apply relative mx-auto my-8 text-center;
}

.gridWrapper {
  /* Base */
  @apply grid justify-center grid-cols-1 gap-6 px-8 mt-8 justify-items-center;
  /* Mobile + */
  @apply sm:grid-cols-2;
  /* Tablet + */
  @apply md:grid-cols-3 md:gap-9 md:my-0 md:mx-auto md:max-w-wrapper;
}

.gridWrapper.double {
  /* Mobile + */
  @apply sm:grid-cols-2;
  /* Tablet + */
  @apply md:grid-cols-2;
}

.gridWrapper.single {
  /* Mobile + */
  @apply sm:grid-cols-1 sm:gap-0;
  /* Tablet + */
  @apply md:grid-cols-1 md:gap-0;
}

.gridItem {
  @apply relative w-full max-w-700;
}

.gridItemEmpty {
  /* Base */
  @apply hidden;
  /* Tablet + */
  @apply md:block;
}

/* The fadeable action happens using react spring */
.fadeable {
  opacity: 1;
  transition: opacity 500ms ease-in-out 1000ms;
}

/* The clickable action happens with state upon interaction */
.clickable {
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  transform-style: preserve-3d;
}
.clickable.fadedOut {
  opacity: 0;
}

.placeholderWrapper {
  @apply absolute top-0 w-full h-full opacity-100;
}

.mintStatus {
  @apply mt-12 text-center text-white;
}

.viewCollectionButton {
  @apply relative block mx-auto mt-6;
}
.viewCollectionButton[disabled] {
  @apply opacity-100;
}

.viewCollectionButton[disabled] span + div {
  @apply text-white;
}
