.navigation {
}

.breadcrumbs {
  @apply flex flex-wrap mb-16 gap-2;
}

.breadcrumb {
  @apply flex gap-1 justify-between;
}

.navLink {
  @apply flex gap-6 transition duration-300 text-base-textTertiary hover:text-base-gray-dark no-underline;
}

.navLink.navLinkActive {
  @apply font-bold text-base-gray-dark;
}

.navLink.navLinkDisabled {
  @apply opacity-60;
}

.icon {
  @apply w-5;
}
