.innerInput {
  @apply inline-block w-4 h-4 transform bg-white rounded-full shadow-lg;
}

.innerInputEnabled {
  @apply translate-x-6;
}

.innerInputNotEnabled {
  @apply translate-x-1;
}

.input {
  @apply relative inline-flex items-center h-6 rounded-full w-11;
}

.labelContainer {
  /* Base */
  @apply relative flex flex-wrap items-center content-between justify-center w-full;
  /* Tablet + */
  @apply md:justify-end;
}

.label {
  @apply flex-initial ml-3 text-sm font-light;
}

.helpText {
  @apply w-1/2 mt-1 text-sm font-light text-right text-base-textTertiary;
}

.errorText {
  @apply w-1/2 mt-1 text-sm font-light text-right text-base-error;
}

.toggleNotEnabled {
  @apply bg-gray-300 dark:bg-gray-400;
}

/* Primary */
.toggleEnabled.primary {
  @apply bg-base-actionPrimary;
}

/* Secondary */
.toggleEnabled.secondary {
  @apply bg-base-actionSecondary;
}

/* Tertiary / default */
.toggleEnabled.tertiary {
  @apply bg-gray-500 dark:bg-gray-500;
}

.inputDisabled {
  @apply opacity-50;
  pointer-events: none;
}

.inputDisabled + input + .label {
  @apply text-base-gray-light;
}
