.root {
  @apply relative bg-base-bgCard shadow-large;
}

.root.isInline {
  @apply shadow-none border-1 border-base-border;
}

.wrapper {
  @apply px-5 py-5 mx-auto text-center max-w-wrapper;
  @apply md:flex md:items-center md:justify-center md:flex-nowrap;
}

.isInline .wrapper {
  @apply block;
}
