.root {
  @apply relative block text-black;
}

.labelContainer {
  @apply relative flex flex-wrap justify-between w-full font-bold text-base-textPrimary;
}

.label {
  @apply w-1/2 mb-1;
}

.helpText {
  @apply w-1/2 mt-1 text-xs font-light text-right text-base-gray-medium;
}

.errorText {
  @apply text-xs font-light text-right text-base-error;
}

.selectContainer {
  @apply relative z-20;
}

.selectButton {
  @apply relative w-full text-left bg-white border rounded-sm cursor-default border-base-border;
  padding: 10px 50px 10px 10px;
}

.selectButtonDisabled {
  @apply bg-base-bg border-base-bg;
}

.selectButtonError {
  @apply border-base-error;
}

.selectButtonText {
  @apply block text-sm font-light truncate text-base-gray-dark;
}

.selectButtonIconContainer {
  @apply absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none;
}

.selectButtonIcon {
  @apply w-5 h-5 text-gray-400;
}

.selectOptions {
  @apply absolute w-full py-1 mt-1 overflow-auto text-sm bg-white border rounded-sm shadow-md border-base-border max-h-60;
}

.selectOption {
  @apply relative p-3 font-light cursor-default select-none;
}

.selectOptionActive {
  @apply bg-base-actionSecondary;
}

.selectOptionSelected {
  @apply font-semibold bg-gray-200;
}
