.upcomingPacks {
  /* Base */
  @apply px-5;
  /* Tablet */
  @apply sm:px-0;
}

.notableCollectibles {
  /* Base */
  @apply px-5;
  /* Tablet */
  @apply sm:px-0;
}

.upcomingPacks a {
  @apply no-underline;
}

.scriptDiv {
  @apply bg-gray-800 text-white;
}

.scriptDiv div div div a {
  @apply text-blue-800 !important;
}

.bgGrid {
  @apply relative;
}

.bgGrid div {
  @apply absolute;
  top: 0;
  background: linear-gradient(180deg, #090b16, transparent, #090b16);
}

.bgGrid img {
  @apply absolute;
  top: 0;
  left: 0;
}

.bgGridContainer {
  z-index: -1;
}
