.listWrapper {
  @apply w-full;
}

.listItem {
  @apply flex items-center justify-between px-6 py-3 mb-6 border rounded-sm border-base-gray-border;
}

.isExpired {
  @apply border-1 text-base-errorRed border-base-errorRed;
}

.itemActions {
  @apply flex items-center justify-between;
}

.itemLabel {
  @apply self-center font-light;
}

.removeButton {
  @apply pr-0 mb-0 text-sm underline text-base-gray-light;
}

.dialogContainer {
  @apply px-4 pt-4 pb-20;
}

.dialog {
  @apply relative w-full max-w-lg my-8 overflow-visible bg-white sm:w-full;
}

.dialogRoot {
  @apply flex flex-col items-center justify-start h-full pt-4 pb-8 text-center sm:px-16;
}

.dialogHeader {
  @apply mb-12 text-2xl font-bold text-base-gray-text;
}

.closeButton {
  @apply absolute top-0 right-0 z-50 text-sm border-none rounded-sm bg-none;
}
