/* Tailwind foundation */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme */
:root {
  --textPrimary: 10, 17, 29;
  --textSecondary: 44, 51, 63;
  --textTertiary: 78, 85, 97;
  --textDisabled: 102, 102, 102;

  --bg: 236, 236, 236;
  --bgCard: 255, 255, 255;
  --bgPanel: 255, 255, 255;
  --bgNotice: 249, 249, 249;

  --actionPrimary: 10, 17, 29; /* very dark gray-blue */
  --actionPrimaryContrastText: 255, 255, 255;
  --actionSecondary: 18, 220, 197; /* teal */
  --actionSecondaryContrastText: 0, 0, 0;
  --actionAccent: 2, 251, 194; /* light green */

  --grayDark: 10, 17, 29; /* DEPRECATED */
  --border: 218, 220, 223;

  --error: 172, 0, 0; /* red */
  --price: 5, 150, 105; /* green-600 */

  --shadowMedium: 0px 1px 10px rgba(0, 0, 0, 0.15);
  --shadowLarge: 0px 5px 40px rgba(0, 0, 0, 0.15);
}

/* Dark theme */
.dark {
  --textPrimary: 250, 250, 250;
  --textSecondary: 216, 216, 216;
  --textTertiary: 182, 182, 182;
  --textDisabled: 128, 128, 128;

  --bg: 34, 35, 39;
  --bgCard: 9, 12, 13;
  --bgPanel: 28, 29, 33;
  --bgNotice: 28, 29, 33;

  --actionPrimary: 253, 89, 132; /* hot pink */
  --actionPrimaryContrastText: 255, 255, 255;
  --actionSecondary: 18, 220, 197; /* teal */
  --actionSecondaryContrastText: 0, 0, 0;
  --actionAccent: 2, 251, 194; /* light green */

  --grayDark: 10, 17, 29; /* DEPRECATED */
  --border: 62, 64, 67;

  --error: 255, 70, 70; /* red */
  --price: 35, 180, 135;

  --shadowMedium: none;
  --shadowLarge: none;
}

html,
body {
  @apply h-full text-base-textPrimary bg-base-bg;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system !important;
}

/* Custom globals  */
#__next {
  @apply flex flex-col h-full;
}

.walletconnect-modal__base {
  @apply font-sans text-gray-700;
}
