/* Tailwind foundation */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  html,
  body {
    @apply h-full;
    font-family: 'Inter', ui-sans-serif, system-ui, -apple-system !important;
  }
}

/* Custom globals  */
#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}
