.root {
  @apply px-4 mx-auto max-w-520;
  @apply md:max-w-700 md:px-0;
}

.title {
  @apply text-center text-white;
}

.navButton {
  @apply absolute top-1/2 hover:text-base-green focus:text-base-green;
  transform: translateY(-50%);
}

.navButtonLeft {
  @apply -left-8;
}

.navButtonRight {
  @apply -right-8;
}

.imageWrapper {
  @apply relative my-5;
}

.detail {
  @apply my-5 text-sm text-center;
  @apply md:text-left md:grid md:grid-cols-3 md:flex-row;
}

.detailCenter {
  @apply uppercase;
  @apply md:text-center;
}

.detailRight {
  @apply md:text-right;
}

.gallery {
  @apply grid grid-cols-4 gap-5;
  @apply md:grid-cols-8;
}

.galleryButton {
  @apply col-span-1 p-0 m-0 transition-opacity bg-transparent border-none;
}

.galleryButtonUnselected {
  @apply opacity-50 hover:opacity-100;
}

.bold {
  @apply font-bold;
}

.flipButton {
  display: block;
  margin: 0 auto;
  font-size: small;
  text-decoration: underline;
  color: #9CA3AF;
}

.flipBox {
  background-color: transparent;
  width: 100%;
  /* height: 700px; */
  aspect-ratio: 1;
  perspective: 1000px;
}

.flipBoxInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: 0 0.5;
}

.flipBox.flip .flipBoxInner {
  transform: rotateX(180deg);
}

.flipBoxFront, .flipBoxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipBoxFront {
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.flipBoxBack {
  transform: rotateX(180deg);
}