.root {
  @apply relative flex flex-col col-span-1;
}

.rootCard {
  @apply bg-white h-full overflow-hidden pb-4 rounded-md shadow-lg;
}

.rootCard > div {
  @apply rounded-none shadow-none;
}

/* Item image */
.imageWrapper {
  @apply relative overflow-hidden bg-black rounded-md shadow-lg hover:border-base-green focus:border-base-green;
}

.questionMarkWrapper {
  @apply flex relative w-full;
  background: linear-gradient(135deg, #6ba2ce 0%, #3f80b5 100%);
  padding-bottom: 100%;
}

.questionMark {
  @apply absolute font-medium left-1/2 top-1/2 text-center text-white;
  transform: translate(-50%, -50%);
}

.questionMarkSmall {
  @apply text-2xl;
}

.questionMarkMedium {
  @apply text-4xl;
}

.questionMarkLarge {
  @apply text-7xl;
}

.badge {
  @apply absolute bg-base-green bottom-2 font-bold left-2 px-2 py-1 rounded-full text-center text-sm text-white;
}

/* Item content */
.title {
  @apply mt-2 px-4 text-sm text-center text-base-gray-text;
}

.title.titleFaded {
  @apply text-base-gray-light;
}

.rootCard .title {
  @apply mt-4;
}

.metaWrapper {
  @apply flex items-center justify-between pt-2 px-4;
}

.metaWrapper.metaCenter {
  @apply justify-center;
}

.setNumber {
  @apply font-black text-2xl text-base-gray-border;
}

.rarity {
  @apply bg-base-gray-medium font-bold px-4 py-1 rounded-full text-xs text-center text-white uppercase;
}

/* Showcase actions */
.removeButton {
  @apply absolute -top-2 -right-2;
}

.removeIcon {
  @apply w-6 h-6 text-black bg-white rounded-full;
}

.overlay {
  @apply absolute inset-0 flex items-center justify-center text-white bg-black bg-opacity-50;
}

.addIcon {
  @apply w-6 h-6 text-black bg-white rounded-full;
}

.checkIcon {
  @apply w-6 h-6 text-black rounded-full bg-base-green;
}
