.root {
  /* Base */
  @apply flex items-center justify-center mb-5 -mt-8;
  /* Tablet + */
  @apply md:mb-12 md:mx-auto;
}

.negativeMargin {
  @apply -mx-8;
}

.tabsContainer {
  /* Base */
  @apply relative flex w-full overflow-hidden bg-white shadow-large;
  /* Tablet + */
  @apply md:w-auto md:rounded-lg md:mx-5;
}

.tab {
  /* Base */
  @apply flex-1 px-4 py-4 text-center no-underline transition duration-300 text-base-gray-dark;
  /* Base: Focus and Hover */
  @apply focus:outline-none focus:text-opacity-70 hover:text-opacity-70;
  /* Tablet + */
  @apply md:px-0 md:first:rounded-l-lg md:last:rounded-r-lg md:w-40;
}

.tab + .tab {
  @apply border-gray-200 border-l-1;
}

.tabActive {
  @apply bg-blue-600;
}
