.root {
  @apply flex flex-col items-center justify-start h-full px-8;
}

.stage {
  @apply w-full max-w-xs mx-auto text-center;
}

.stageTitle {
  @apply pb-3;
}

.separator {
  @apply pb-5 border-t-base-textTertiary;
}

.stageHelp {
  @apply px-6 pt-5 text-base-textTertiary;
}

.link {
  @apply underline;
}

.accountItem {
  @apply flex flex-row items-center p-5 mb-5 border rounded shadow-md cursor-pointer bg-base-bgCard border-base-border hover:border-base-textPrimary;
}

.accountItemRadio {
  @apply flex items-center justify-center w-6 h-6 mr-5 border-2 rounded-full;
}

.accountItemRadioChecked {
  @apply border-action-secondary;
}

.accountItemRadioCheckedInner {
  @apply inline-block w-3 h-3 rounded-full bg-action-secondary;
}

.accountItemRadioUnchecked {
  @apply border-base-border;
}

.buttonLink {
  @apply text-sm underline text-base-textTertiary;
}

.terminalStage {
  @apply flex flex-col items-center;
}

.terminalStageTitle {
  @apply mt-5 mb-7;
}

.error {
  @apply text-base-error;
}

.success {
  @apply text-base-price;
}

.spacing {
  @apply pt-5;
}
