.root {
  @apply space-y-4 w-full;
}

.root h2 {
  @apply border-b border-base-gray-border font-bold mb-6 pb-4 text-center;
}

.passphraseContainer {
  max-width: 300px;
  @apply relative mx-auto;
}

.passphraseContainer input {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  font-size: 24px;
}

.passphraseInstruction {
  @apply mb-4 mt-6 text-base-gray-medium text-center;
}

.passphraseError {
  @apply font-bold text-center text-base-errorRed;
}
