/* Dialog overrides */
.dialog {
  @apply md:hidden !important;
}

.container {
  @apply fixed inset-0 items-start max-h-screen min-h-0 !important;
}

.content {
  @apply p-0 shadow-none max-w-none overflow-y-scroll !important;
}

.overlay {
  @apply bg-base-bgPanel bg-opacity-100 !important;
}

/* Content */
.root {
  @apply md:hidden;
}

.closeButton {
  /* Base */
  @apply p-2 rounded-full;
  aspect-ratio: 1;
}

.dialogHeadingRow {
  @apply flex items-center justify-end p-5 border-b-8 border-base-gray-dark;
}

/* Floating Filter Button */
.mobileFilterButton {
  /* Base */
  @apply fixed z-10 p-4 mx-auto rounded-full bottom-4 shadow-large;
  box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.3);
  left: 50%;
  transform: translate(-50%, 0);
  aspect-ratio: 1;
  /* Tablet + */
  @apply md:hidden;
}
