.inputWrapper {
  @apply relative flex items-center;
}

.inputWrapper > div {
  @apply flex-grow h-full py-3 pt-0 pb-0 mb-0 ml-0;
}

.inputWrapper button {
  @apply mb-0;
}

.inputWrapper input {
  @apply mt-0;
}

.inputWrapper input[disabled] {
  @apply text-opacity-50 shadow-none bg-base-bgCard;
}

.editButton {
  @apply right-0 ml-4 underline text-base-textPrimary;
}

.cancelButton {
  @apply px-0 underline text-base-textPrimary;
}

.saveButton {
  @apply mx-4;
}
