.isMobile .desktopWrapper {
  @apply hidden;
}

.isDesktop .desktopWrapper,
.isDesktop .mobileWrapper {
  @apply hidden;
}

@screen md {
  .isMobile .mobileWrapper {
    @apply hidden;
  }
  .isDesktop .desktopWrapper {
    @apply block;
  }
}

.mobileWrapper {
  @apply relative z-10 mx-5 transform -translate-y-1/2 border-b border-base-border;
}

.mobileWrapper label {
  @apply mx-auto transform translate-y-1/2 shadow-large;
  max-width: 200px;
}

.listWrapper {
  @apply mb-5 rounded-sm bg-base-bgCard shadow-large;
}

.listItem + .listItem {
  @apply border-t border-t-base-border;
}

.listItem a {
  @apply block p-5 text-base no-underline hover:underline;
}

.listItemActive a {
  @apply text-base font-bold text-base-actionSecondary;
}
