.root {
  @apply relative p-6 border-t border-base-border;
}

.collapseContainer {
  @apply overflow-hidden transition-all;
  max-height: 999px;
}

.collapseContainer.collapsed {
  max-height: 100px;
}

.root p {
  @apply mb-4 text-base-textPrimary;
}

.root p:last-child {
  @apply mb-0;
}

.readMore {
  @apply relative block mx-auto font-bold text-center underline text-action-secondary;
}

.mask {
  @apply absolute left-0 w-full bg-gradient-to-t from-white to-transparent;
  bottom: 50px;
  height: 75px;
}
